.head-container>.top{
    color:#007db4;
    height:24px;
    padding-left:275px;
    font-weight: 530;
    display:flex;
    align-items: center;
    border-bottom: 1px solid #dee1ec;
    font-family:Arial,Helvetica,sans-serif;
}

.head-container>.top p{
    padding:30px;
}

.head-container>.top>.sign-up{
    color:black;
    padding-left:550px;
    letter-spacing: 1px;
    font-family:Arial,Helvetica,sans-serif;
}

.head-container>.top>.entity{
    color:black;
    font-weight:700
}

.head-container>.top>.entity{
    color:black;
    font-weight:700
}