.head-container>.logo-container{
    height:76px;
    display:flex;
    align-items: center;
}

.head-container>.logo-container>.logo img{
    height:180px;
    padding-left: 180px;
}

.head-container>.logo-container>.search{
    padding-left:125px;
}

.head-container>.logo-container>.search input{
    display:flex;
    align-items: center;
    height:55px;
    width:600px;
    padding-left: 15px;
    border: 1px solid #007db4;
    border-radius: 2px;
    /* learned from psdtohubspot on hubspot */
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
}

/* learned from csstricks.com */
::-webkit-input-placeholder{
    color:#007db4;
    font-size:1.8em;
    align-items: center;
}

.dropbtn{
    background-color: white;
    color: black;
    padding: 16px;
    font-weight:600;
    font-size: 1.25em;
    border: none;
    cursor: pointer;
    font-family:Arial,Helvetica,sans-serif;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
/* end of csstricks.com */


.head-container>.logo-container>.heart img{
    height:30px;
    padding:5px;
    padding-left:125px;
}

.head-container>.logo-container>.sign-in #treat{
    font-size:1rem;
    font-weight: 500;
    font-family:Arial,Helvetica,sans-serif;
}

.head-container>.logo-container>.sign-in{
    text-decoration: none;
    font-size:.75rem;
    font-weight:600;
    font-family:Arial,Helvetica,sans-serif;
}

.head-container>.logo-container>.sign-in span{
    font-size:1.75em;
    color:black;
}

.head-container>.logo-container>.shopping-cart{
    font-size:2em;
    padding-left:127px;
}

.head-container>.logo-container>.shopping-cart a{
    color:black;
}
