.nav-container{
    height:54px;
    width:100%;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color:white;
    font-size:1.4em;
    background-color:#007db4;
    font-family:Arial,Helvetica,sans-serif;
}

.nav-container p{
    padding:0px 50px;
}

.nav-container a{
    color:white;
    text-decoration: none;
}

.nav-container a:hover{
    color:black;
}

.head-container>.sale{
    display:flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2em;
    color:red;
    padding-right:145px;
    letter-spacing: 1px;
}

.head-container>.sale:hover{
    text-decoration: underline;
}