/* Common Styles */
body{
    margin:0px;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
}

/* learned rotate from flaviocopes.com */
.rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }






